@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    font-family: 'Montserrat';
    color: white;
}
body a {
    color: teal;
}

#content {
    height: 150%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 7fr 5fr 0.5fr;
}

#header {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerNav {
    font-size: 40px;
    text-align: center;
    width: 10%;
    height: 100%;
}

#hero {
    position: relative;
}

#heroTitle {
    font-size: 100px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    height: 120px;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translate(-50%, -50%);
}

#info {
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.infoBox {
    background-color: rgb(43, 43, 42);
    font-size: 1.5em;
    height: 80%;
    width: 95%;
    text-align: center;
    display: flex;
    align-items: center;
}

#menu {
    background-color: black;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.menuItem {
    background-color: rgb(43, 43, 42);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.menuTitle {
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    font-size: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#menuInfo {
    background-color: black;
    grid-row: 3;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuInfoBox {
    background-color: rgb(43, 43, 42);
    height: 93%;
    width: 98%;
    margin-top: -7px;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
}

#contactBox {
    background-color: black;
    grid-row: 2/4;
    display: flex;
    align-items: center;
}

#contactFormBox {
    height: 40%;
    width: 50%;
}

#contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 100%;
}

#contactForm input,textarea {
    display: flex;
    width: 50%;
    height: 20px;
    margin-bottom: 15px;
}

#contactForm textarea {
    height: 100px;
}

#contactForm button {
    border: none;
    background-color: rgb(43, 43, 42);
    color: white;
    height: 40px;
    width: 50%;
}

#contactInfo {
    background-color: rgb(43, 43, 42);
    font-size: 20px;
    height: 40%;
    width: 60%;
    padding: 20px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}

#footer {
    background-color: rgb(43, 43, 42);
    display: flex;
    justify-content: space-around;
    grid-row: 4;
}

.footerItem {
    display: flex;
    align-items: center;
}