body {
    margin: 0;
}

#content {
    height: 150%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 7fr 5fr 0.5fr;
}

#header {
    background-color: black;
    height: 100%;
    color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerNav {
    color: white;
    font-size: 50px;
    text-align: center;
    border: 1px solid white;
    width: 10%;
    height: 100%;
}
.headerNav:first-of-type {
    border: none;
}

#hero {
    position: relative;
}
#heroTitle {
    color: white;
    font-size: 100px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    height: 120px;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translate(-50%, -50%);
}

#info {
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

.infoBox {
    background-color: rgb(241, 230, 213);
    height: 80%;
    width: 95%;
}

#footer {
    background-color: green;
}